.head-base{
    padding: 0;
    border-bottom: 1px solid #e1e1e1;
    .header-inner{
        padding: 0 0;
        .logo{
            padding: 10px 0;
        }
    }
}
.pre-header{
    background: $themebg;
    ul{
        margin: 4px 0;
        padding-right: 30px;
        li{
            a{
                padding: 5px 0;
                font: 16px $font-regular;
                color: #fff;
                display: inline-block;
            }
        }
    }
    .after-login{
        margin: 0;
        ul{
            padding: 0;
            width: 100%;
        }
        .dropdown{
            background: #36a6e6;
            padding: 5px 12px;
            .dropdown-menu{
                li{
                    a{
                        font: 16px $font-regular;
                        color: #000;
                        width: 100%;
                        padding:10px;
                        &:hover{
                            background: #e8e5e5 !important;
                        }
                    }
                }
            }
        }
        button{
            background: transparent;
            border: none;
            font:16px $font-regular;
            color: #fff;
        }

    }
}