.theme-modal{
    .theme-close-modal{
        margin-top: 8px;
        span{
            font-size: 50px;
        }
    }
}

.modal-company-name{
    .label-control{
        font: 30px $font-bold;
        color: $themebg;
    }
    p{
        font: 30px $font-regular;
        letter-spacing: 2px;
        color: #257ac6;
        background: #EBF2F7;
        @include border-radius(40px);
        padding:15px 10px;
        text-align: center;
    }
}
.search-base{
    float: none;
     display: inline-block;
     .submit-application-btn{
         margin-top: 25px;
     }
    h1{
        font: 36px $font-semibold;
        color: $themebg;
        margin-bottom: 40px;
        text-align: center;
    }
    .input-container{
         margin-bottom: 40px;
         input{
             padding: 20px 15px;
         }
         select{
            padding-top: 20px;
            padding-bottom: 20px;
         }
    }
}
.modal-lg {
    width: 1170px;
}
.login-inner-modal{
    padding: 20px 10px;
    .app_input_base{
        margin-bottom: 20px;
    }
    .forgot_password{
        text-align: right;
        a{
            font: 16px $font-semibold;
        color: $themebg;
        }
        
    }
}
.modal-title{
    font: 20px $font-semibold;
    color: #000000;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
   
}
@media only screen and (min-width: 1233px) and (max-width: 1400px) {
  
}
@media only screen and (max-width:1232px) {
    
}
@media only screen and (max-width:1023px) {
    
    .modal-lg {
        width: 94%;
    }
}
    
@media only screen and (min-width: 992px) and (max-width:1180px) {
    
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {

  
}
@media only screen and (min-width: 768px) and (max-width: 850px) {
    
}

@media only screen and (max-width: 767px) {
    
}
@media only screen and (min-width: 320px) and (max-width: 576px) {
   
}