.contact-page-base{
    background:#244676;
    padding:60px 0;
    .banner-innercaption{
        
        h2{
            font: 36px $font-semibold;
            color: #fff;
            margin-bottom: 0px;
        }
        span{
            display: inline-block;
            background: #fff;
            height: 6px ;
            width: 88px;
            @include border-radius(3px); 
        }
    }
    .contact-page-content{
        padding:0;
        .contact-page-content-inner{
            padding:0;
            p{
                font: 16px $font-regular;
                color: #fff;
            }
            .address-para{
                b{
                    width:65%;
                    display: inline-block;
                }
                span{
                    margin-right: 15px;
                    font-weight: bold;
                }
            }
        }
    }
}

.contact-page-input{
    padding:0;
    margin-top: 60px;
    .label-control{
        color: #fff;
    }
    p{
        font: 16px $font-regular;
        color: #fff;
    }
    .captcha-container{
        padding-left: 30px;
        a{
            font: 16px $font-regular;
        color: #fff;
        margin-left:60px;
        }
        
    }
    .themebtn{
        background:#34a6e5;
    }
}